.Button {}

.ButtonUp,
.ButtonDown,
.ButtonLeft,
.ButtonRight,
.ButtonBreak,
.ButtonHorn {
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 0;
    border: 1px solid #000;
    border-radius: 10px;
    background-size: 100% 100%;
    touch-action: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

.ButtonUp.-active,
.ButtonDown.-active,
.ButtonLeft.-active,
.ButtonRight.-active,
.ButtonBreak.-active,
.ButtonHorn.-active {
    opacity: 1;
}

.ButtonUp {
    bottom: 140px;
    right: 20px;
    background-image: url("/control-up.svg")!important;
}

.ButtonBreak {
    bottom: 80px;
    right: 20px;
    background-image: url("/control-break.svg")!important;
}

.ButtonDown {
    bottom: 20px;
    right: 20px;
    background-image: url("/control-down.svg")!important;
}

.ButtonLeft {
    bottom: 20px;
    left: 20px;
    background-image: url("/control-left.svg")!important;
}

.ButtonRight {
    bottom: 20px;
    left: 80px;
    background-image: url("/control-right.svg")!important;
}

.ButtonHorn {
    bottom: 80px;
    right: 80px;
    background-image: url("/control-horn.svg")!important;
}